
/* 
    Created on : 22-oct-2019, 1:48:07
    Author     : Frank
*/
#loginForm-cookie{
    background-color: #77B0C5;
    border-radius: 8px;
    box-shadow: 3px 3px 10px 0px rgba(50,50,50,0.75);
    -moz-box-shadow:3px 3px 10px 0px rgba(50,50,50,0.75);
    -webkit-box-shadow: 3px 3px 10px 0px rgba(50,50,50,0.75);
    margin-left: auto;
    margin-right: auto;
    max-width: 25em;
    padding-bottom: 10px;
    padding-top: 10px;
}
#loginForm {
    background-color: #77B0C5;
    border-radius: 8px;
    box-shadow: 3px 3px 10px 0px rgba(50,50,50,0.75);
    -moz-box-shadow:3px 3px 10px 0px rgba(50,50,50,0.75);
    -webkit-box-shadow: 3px 3px 10px 0px rgba(50,50,50,0.75);
    margin-left: auto;
    margin-right: auto;
    
    max-width: 25em;
    padding-bottom: 10px;
    padding-top: 10px;
}
#loginForm_singup{
    background-color: #77B0C5;
    border-radius: 8px;
    box-shadow: 3px 3px 10px 0px rgba(50,50,50,0.75);
    -moz-box-shadow:3px 3px 10px 0px rgba(50,50,50,0.75);
    -webkit-box-shadow: 3px 3px 10px 0px rgba(50,50,50,0.75);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    max-width: 25em;
    padding-bottom: 10px;
    padding-top: 10px;
}
/*Etiquetas del Formulario */
label{color: white;display: block;margin-bottom: 6px;margin-left: 1.2em;}

/*Campos del formulario*/
input[type="text"],
input[type="email"],
input[type="password"]{border:none;border-radius: 6px;display: block;font-size: 1em;height: 2em;text-align: center;width: 90%;margin-left: 5.5px;margin-right: auto;}

/*Botón*/
input[type="reset"]{
    background-color:#A3A0A2;
    border:none;
    border-radius: 6px;
    color: white;
    font-size: 0.9em;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    text-align: center;
    width: 70px;
    height: 25;
}
.btn{ display: inline-block; align-content: center;}
input[type="button"]{
    background-color:#A3A0A2;
    border:none;
    border-radius: 6px;
    color: white;
    margin-left: 35%;
    margin-right: auto;
    margin-top: -10px;
    text-align: center;
    width:60px;
}
input[type="submit"]{
    background-color:#A3A0A2;
    border:none;
    border-radius: 6px;
    color: white;
    font-size: 0.9em;
    margin-left: 30%;
    margin-right: auto;
    margin-top: -10px;
    text-align: center;
    width: 70px;
    height: 25;
}
input[type="button"]:hover{cursor: pointer;background-color: #A33D41;opacity: 0.8;}
input[type="submit"]:hover{cursor: pointer;background-color: #A33D41;opacity: 0.8;}
input[type="reset"]:hover{cursor: pointer;background-color: #A33D41;opacity: 0.8; }

body{ font-family: Georgia, "Time New Roma", Times, serif;}
ul{list-style-type: none;}
h4{font-family: Helvetica,Geneva,Arial,sans-serif}
ul.navbar-navbar li{}
ul.navbar-navbar a{text-decoration: none;}
a:link{color:blue;}
a:visited{color:red;}
header {background: rgba(144, 151, 139, 0.9);width: 100%; z-index: 100;}
nav {float: left; /* Desplazamos el nav hacia la izquierda */}
nav ul { list-style: none; overflow: hidden; /* Limpiamos errores de float */}
nav ul li {float: left;font-family: Arial, sans-serif; font-size: 16px;}
ul li a:visited{color: blue;}
ul li a:link{ color:blue;}
nav ul li a {display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */padding: 10px;color: #fff; text-decoration: none;}
nav ul li:hover {background: #91cde3;  margin-top: -2;padding-bottom: 12px;}
nav ul li a{ display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */ padding: 10px; color: #fff; text-decoration: none;}
.wrapper { width: 80%; margin: auto;overflow:hidden;}
a{color: #007bff;text-decoration: none;background-color: transparent;}
#cuerpo{margin-top: 60;text-align: center;}
.footer{margin-top:60px;height:75px; background: rgba(144, 151, 139, 0.9);width: 100%;position: fixed;z-index: 100;}
.imagenes{margin-top: 5%;margin-left: 5%;}
img{margin-left: 100px; width: 35%;height: 35%;overflow: hidden; display: block; float: left;}
ul li p{text-decoration: none;}
.log{margin-left: 140px;text-decoration: none;}
h3{text-align: center;}
.usuariosSesion{ margin-top: 40px; display: flex;width: 25%; height: 35%;margin-left: 37%;}
.salir{ background-color:#A3A0A2;border:none;border-radius: 6px; color: red; margin-left: auto; margin-right: auto; margin-top: 30px;text-align: center;width: 70px;height: 25;}
button:hover{cursor: pointer; background-color: #A33D41;opacity: 0.8;}
#container li{text-align: center; list-style: none}
#container a:visited{color:red;}
#container a{text-align: center;color:#08C;}
#container ul li a h2{text-align: center;color:red;}
#container p{text-align: center;}
h1{text-align: center}
.footer-log{text-align: left;margin-top:280px; height:8%;background: rgba(144, 151, 139, 0.9); width: 100%;position: fixed;z-index: 100;}
.footer-log ul {margin-top: 25px;}
.footer-log li{list-style: none}
.footer-log h3{text-align: inherit;}
.md-outline.select-wrapper+label {top: .5em !important;z-index: 2 !important;}
#mostrar{float: right; margin-right: 15px;margin-top: 38px;}